*{
    margin: 0;
    padding:0;
    box-sizing: border-box; 
 }
 .log-page
 {
     height:100%;
     width: 100%;
     background-position:center;
     background-size:cover;
     position:absolute;
     
 }
 .navbar{
     display: flex;
     align-items: center;
     padding: 1%;
     padding-left: 2%;
     padding-right: 2%;
     padding-top: 1%;
 }
 nav{
     flex: 1;
     text-align: right;
 }
 nav ul{
     display: inline-block;
     list-style: none;
 }
 nav ul li{
    display: inline-block;
    margin-right: 70px;
 }
 nav ul li a{
     text-decoration: none;
     font-size: 1.5vw;
     color:rgb(240, 18, 18);
     font-family: sans-serif;
 }
 nav ul li button{
     font-size: 1.5vw;
     color: rgb(240, 18, 18);
     outline:none;
     border:none;
     background:transparent;
     cursor:pointer;
     font-family:sans-serif;
 }
 nav ul li button:hover
 {
     color: rgb(5, 112, 68);
 }
 nav ul li a:hover
 {
    color: rgb(11, 117, 11);
 }
 a{
     text-decoration: none;
     color:rgb(32, 78, 228);
     font-size: 3.5vw;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 #login-form{
     display: none;
 }
 .form-box{
     width:28%; 
     height: 70vh; 
     position:relative;
     margin: 2% auto;
     background:rgba(235, 234, 240, 0.918);
     padding: 1.2%;
     overflow: hidden;
     border-radius: 30px;
 }
 .button-box{
     width:60%;
     margin:15% auto;
     position:relative;
     box-shadow: 0  0 20px 9px #ff61241f;
     border-radius:30px;
 }
 .toggle-btn{
     padding: 3% 9%;
     padding-left: 13%;
     padding-right: 5%;
     cursor: pointer;
     background:transparent;
     border: 0;
     position:relative;
     outline: none;
     font-size: 1.2vw;
     color:black;
     font-style:inherit;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     
 }
 .toggle-btn:hover{
     color:rgb(51, 96, 243);
 }
 #btn{
    padding: 0.9% 0.7%;
    padding-top: 2%;
    margin-left: 9%;
    margin-right: 3%;
    position: absolute;
     width: 30%;
     height: 5vh; 
     background:#F3C693;
     border-radius: 30px;
     transition: .5s;
 } 
 .input-group-login{
    top: 15%;
    position: absolute;
    width: 65%;
    transition: .5s;
 }
 .input-group-register{
    top: 15%;
    position: absolute;
    width: 65%;
    transition: .5s;
 }
 .input-field{
     width: 100%;
     padding:5% 0;
     margin:1% 0;
     border-left: 0;
     border-top: 0;
     border-right: 0;
     border-bottom:1px solid rgb(153, 153, 153);
     outline: none;
     background: transparent;
 }
 .submit-btn{
     width: 85%;
     padding: 5% 3%;
     cursor: pointer;
     display: block;
     margin: auto;
     background: #F3C693;
     border:0;
     outline:none;
     border-radius: 30px;
     color: black;
     font-size:1vw ;
 }
 .check-box{
     margin: 30px 10px 34px 0;
 }
 .statement{
     color: rgb(33, 83, 219);
     font-size:1vw;
     bottom:75px;
     position:absolute;
 }
 #message{
    color: rgb(33, 83, 219);
    font-size:1vw;
    bottom:100px;
    position:absolute;
 }
 #login{
     left:5%;
 }
 #login input{
     color:rgb(33, 83, 219);
     font-size:0.9vw;
 }
 #register{
     left:100%;
 }
 #register input{
     color:rgb(33, 83, 219);
     font-size: 0.9vw;;
 }